@import "tailwindcss";
@import "tailwindcss/theme" layer(theme);
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --shadow-input: 0px 2px 3px -1px rgba(0,0,0,0.1),
                  0px 1px 0px 0px rgba(25,28,33,0.02),
                  0px 0px 0px 1px rgba(25,28,33,0.08);
}

html.dark {
  --background: ###171717;
  --foreground: #ededed;
  --shadow-input: 0px 2px 3px -1px rgba(255,255,255,0.3),
                  0px 1px 0px 0px rgba(255,255,255,0.15),
                  0px 0px 0px 1px rgba(255,255,255,0.2);
}

@theme inline {
  --color-background: var(--background);
  --font-quicksand: var(--font-quicksand);
  --font-cormorantGaramond: var(--font-cormorant-garamond);
  --shadow-input: var(--shadow-input);
}

body {
  background: var(--background);
  
  font-family: var(--font-quicksand), sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}